# iiot_client/requirements.txt (VERSION STABLE ET TESTÉE)

# On spécifie des versions qui sont connues pour bien fonctionner ensemble
flwr==1.8.0
tensorflow==2.15.0
requests
numpy==1.26.4
pandas
scikit-learn
simpleaudio